@import "toolkit";

.body {
  font-size: inherit;
  padding: 0px;
  position: absolute;
  top: 0px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.header {
  border-bottom: 1px solid $border-color;
  margin: 0 0 0 0;
  padding-bottom: 20px;
}
